{% block content %}
{% set position = paragraph.field_position.value %}
{% set color = paragraph.field_background_color.value %}
{% if color is not empty %}
    {% set bg = color ~ ' has-bg'%}
{% endif %}
{% if paragraph.field_title_style.value %}
    {% set heading = paragraph.field_title_style.value %}
{% endif %}
  <div class="character {{position}} {{bg}}">
    <div class="inner">
        <div class="img">{{content.field_media}}</div>
        <div class="blurb">             
            {% if content.field_title %}
                <h2 class="{{heading}}">{{content.field_title.0}}</h2>
            {% endif %}
            <p>{{ content.field_caption }}<p>
            {% if content.field_link.0 %}
              <p><a href="{{ paragraph.field_link.0.url }}" class="btn black">{{ paragraph.field_link.0.title }}</a></p>
            {% endif %}
        </div>
    </div>
  </div>
{% endblock %}